{
    "groupId": "com.rusticisoftware.cloud.v2.client",
    "artifactId":  "scormcloud-api-v2-client",
    "artifactVersion":  "1.0.0-beta",
    "apiPackage": "com.rusticisoftware.cloud.v2.client.api",
    "modelPackage": "com.rusticisoftware.cloud.v2.client.model",
    "dateLibrary":  "java8",
    "library":  "jersey2"
}
